.container {
  display: flex;
  width: 100%;
  gap: 30px;
}

.container .deploy {
  text-decoration: none;
  color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #eeeeee;
  border: none;
  border-radius: 5%;
  width: 25%;
  height: 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.3s ease;
}

.deploy:hover {
  transform: translateY(-2px);
  background-color: #b4b4b4;
}

.container .repository {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #222222;
  color: #ffffff;
  border: none;
  border-radius: 5%;
  width: 30%;
  height: 40px;
  font-size: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.3s ease;
}

.repository:hover {
  transform: translateY(-2px);
  background-color: #474747;
}

@media (max-width: 996px) {
  .container .deploy {
    font-size: 0.8rem;
  }

  .container .repository {
    font-size: 0.8rem;
  }
}

@media (max-width: 826px) {
  .container .deploy {
    font-size: 1rem;
    height: 35px;
  }

  .container .repository {
    font-size: 1rem;
    height: 35px;
  }
}

@media (max-width: 475px) {
  .container .deploy {
    font-size: 0.8rem;
    width: 35%;
  }

  .container .repository {
    font-size: 0.8rem;
    width: 40%;
  }
}
